.div{
    margin-left: 450px;
    margin-right: 450px;
    border: 2px solid bisque;
}

.ProgressBar_Div{
    margin-top: 50px;
    margin-bottom: 50px;
}

.Btn_Div{
    margin-top: 50px;
    margin-bottom: 10px;
}

.para
{
    margin-left: 10px;
    margin-right: 10px;
}